body {
  background: 0 -100px repeat-x url(https://mdn.mozillademos.org/files/5415/bg_gallery.png) #4F191A;
  margin: 10px;
}

img {
  display: none;
}

h1 {
  text-align: center;
  color: gold;
  text-shadow: 2px 2px #ff0000;
  font-size: 40px;
  font-family: "Century Gothic";
}

canvas {
  margin: 50px;
}

.canvasInsert {
  display: grid;
}

.canvasParent {
  text-align:center;
}

#file {
  float: right;
  position: absolute;
  right: 0px;
}
